@model CheckingSystem1.Models.Categories

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span10">
    <br />
    <br />
    <h1 align="center">Details</h1>
    <h4 align="center">Categories</h4>
    <hr />

    <div>

        <dl class="row" align="center">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    <div align="center">
        <a asp-action="Edit" asp-route-id="@Model.IdCat" class="btn btn-success">Edit</a> |
        <a asp-action="Index" class="btn btn-inverse">Back to List</a>
    </div>
    </div>