@model IEnumerable<CheckingSystem1.Models.Incidents>


@if (User.Identity.IsAuthenticated)
{
<div class="span10">
    <div class="span4">
        <ul class="widget widget-usage unstyled span4">
            <li>
                <p>
                    <strong>Software</strong> <span class="pull-right small muted">@ViewBag.persoft%</span>
                </p>
                <div class="progress tight">
                    <div class="bar" style="width:@(ViewBag.persoft)%;">
                    </div>
                </div>
            </li>
            <li>
                <p>
                    <strong>Hardware</strong> <span class="pull-right small muted">@ViewBag.perhard%</span>
                </p>
                <div class="progress tight">
                    <div class="bar bar-success" style="width:@(ViewBag.perhard)%;">
                    </div>
                </div>
            </li>
            <li>
                <p>
                    <strong>Network</strong> <span class="pull-right small muted">@ViewBag.pernet%</span>
                </p>
                <div class="progress tight">
                    <div class="bar bar-warning" style="width:@(ViewBag.pernet)%;">
                    </div>
                </div>
            </li>
            <li>
                <p>
                    <strong>Database</strong> <span class="pull-right small muted">@ViewBag.perdb%</span>
                </p>
                <div class="progress tight">
                    <div class="bar bar-danger" style="width:@(ViewBag.perdb)%;">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="span10">
   
</div>
<div class="span10">
    <div class="module">
        <div class="module-head">
            <h3>
                bar chart
            </h3>
        </div>
        <div class="module-body">
            <canvas id="myChart" width="838" height="300"></canvas>

            </div>
        </div>
        </div>
        }
        else
        {

        <div class="card">
            <div class="card-body text-center">
                <div class="mb-4">
                    <i class="feather icon-mail auth-icon"></i>
                </div>
                <h3 class="mb-4"><a href="/Identity/Account/Login">Sign In</a></h3>
                <p class="mb-0 text-muted">Don’t have an account? <a href="/Identity/Account/Register">Signup</a></p>
            </div>
        </div>}

        @section scripts{

            <script>
                const ctx = document.getElementById('myChart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Software', 'Hardware', 'Database', 'Network'],
                        datasets: [{
                            label: '# of Votes',
                            /**/
                            data: [@ViewBag.persoft, @ViewBag.perhard, @ViewBag.perdb, @ViewBag.pernet],
                /**/
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
            </script>

        }
