@model IEnumerable<CheckingSystem1.Models.Users>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="span10">
    <br />
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <br />
    <div class="row-fluid">
       
            @foreach (var item in Model)
            {
        <div class="span4">
            <div class="media user">
                <a class="media-avatar pull-left" href="#">
                    <img src="~/images/user.png">
                </a>
                <div class="media-body">
                    <h3 class="media-title">
                        @item.LastName @item.FirstName
                    </h3>

                    <p>
                        <small class="muted"> Email:@item.Email </small>

                    </p>
                    <p>
                        <small class="muted"> Mobile:@item.Mobile </small>

                    </p>
                    <div class="media-option btn-group shaded-icon">
                        <a asp-action="Edit" asp-route-id="@item.IdUser" class="btn btn-small"><i class="icon-edit"></i></a>

                        <a asp-action="Details" asp-route-id="@item.IdUser" class="btn btn-small"><i class="bi bi-journal-text"></i></a>

                        <a asp-action="Delete" asp-route-id="@item.IdUser" class="btn btn-small"><i class="bi bi-trash"></i></a>
                    </div>
                    </div>
                </div>
            </div>}</div>
            
        </div>
