@model IEnumerable<CheckingSystem1.Models.Incidents>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int intsno = 0;
}
<div class="span10">
    <br />
    <div class="" align="center">
        <form asp-controller="Incidents" asp-action="Index">
            <span class="btn-group">
                <input class="form-control" typeof="text" name="SearchText" placeholder="Search key" />
                <input class="p-1 ml-2 btn btn-sm btn-info" type="submit" value="Search" />
            </span>
        </form>
    </div>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>sno</th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Caller)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subcategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BusinessService)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.state)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.priority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssignementGroup)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updatedate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UbdatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssignementTo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                intsno = intsno + 1;
                <tr>
                    <td>@intsno</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Caller.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    @foreach (var subcat in ViewBag.subcatlist)
                    {
                        if (subcat.IdSubCat.ToString() == item.Subcategory)
                        {
                            item.Subcategory = subcat.Name;
                        }
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Subcategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BusinessService)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.state)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.priority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignementGroup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updatedate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UbdatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignementTo.FirstName)
                    </td>
                    <td align="center">
                        <a asp-action="Edit" asp-route-id="@item.IdInc" class="btn btn-success"><i class="fa-thin fa-pen-to-square"></i>Edit</a>

                        <a asp-action="Delete" asp-route-id="@item.IdInc" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>